{# templates/_partials/tricks.html.twig #}

{% for trick in tricks %}
	<div
		class="relative overflow-hidden rounded-xl shadow-lg group trick-card">
		{# Image principale #}
		<a href="#">
			<img src="{{ asset('uploads/featured_images/' ~ trick.featuredImage) }}" alt="{{ trick.title }}" class="w-full h-56 object-cover transform group-hover:scale-110 transition duration-500 ease-in-out">
		</a>

		<div class="absolute bottom-0 left-0 right-0 bg-black/40 backdrop-blur-sm px-4 py-3">
			<div class="flex justify-between items-center">
				<h3 class="font-[Raleway] text-white text-lg font-semibold uppercase">{{ trick.title }}</h3>


			</div>
		</div>
	</div>
{% endfor %}
